<h3 class="mt-4 mb-4">Register</h3>

<form #registerForm="ngForm" (ngSubmit)="onSubmit()" method="post">

    <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <input id="name" [(ngModel)]="model.name" #name="ngModel" name="name"class="form-control" required/>
        <span class="text-danger" *ngIf="name.touched && name.invalid">Valid username required</span>
    </div>

    <div class="form-group">
        <label for="emailAddress" class="control-label">Email</label>
        <input id="emailAddress" [(ngModel)]="model.emailAddress" #emailAddress="ngModel" registeredValidator name="emailAddress"class="form-control" required email/>
        <span class="text-danger" *ngIf="emailAddress.touched && emailAddress.errors?.required">Email required</span>
        <span class="text-danger" *ngIf="emailAddress.touched && emailAddress.errors?.registeredValidator">Email already registered</span>
    </div>


    <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" [(ngModel)]="model.password" #password="ngModel" name="password" class="form-control" required/>
        <span class="text-danger" *ngIf="password.touched && password.invalid">Password required</span>
    </div>

    <div class="form-group">
        <label for="confirmPassword" class="control-label">Confirm Password</label>
        <input type="password" id="confirmPassword" [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel" name="confirmPassword" class="form-control" required />
        <span class="text-danger" *ngIf="confirmPassword.touched && confirmPassword.invalid">Password required</span>
    </div>

    <div class="form-group">
        <label for="role" class="control-label">Role</label>
        <select id="role" [(ngModel)]="model.role" #role="ngModel" name="role" class="form-control" required>
            <option *ngFor="let role of roles; index as key;" [ngValue]="key">{{role}}</option>
        </select>
        <span class="text-danger" *ngIf="role.touched && role.invalid">Role</span>
    </div>

    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary mr-3" [disabled]="!registerForm.valid"/>
        <a class="btn btn-secondary" (click)="onCancel()">Cancel</a>
    </div>

</form>
