
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Student Details</h5>
        <div class="row">
            <div class="col-md-6">
                <p class="card-text"><i class="fas fa-at mr-1"></i>{{student.name}}</p>
                <p class="card-text"><i class="fas fa-at mr-1"></i>{{student.email}}</p>
                <p class="card-text"><i class="fas fa-clock mr-1"></i>{{student.age}}</p>
                <p class="card-text"><i class="fas fa-camera mr-1"></i>{{student.course}}</p>  
            </div>
            <div class="col-md-6">
                <img src="{{student.photoUrl}}"  class="col-6 img-fluid img-thumbnail"/>
            </div>
        </div>

        <h5 class="mt-3">Modules</h5>  
        <div class="row">         
          <div class="card mr-1" *ngFor="let m of student.studentModules">
            <div class="card-header bg-info">{{ m.title}}</div>
            <div class="card-body">              
              <p class="card-text">{{ m.mark}} ({{ m.mark | grader }}) </p>
            </div>
          </div>
          <span *ngIf="student.studentModules.length===0">No modules...</span>
        </div>     

        <h5 class="mt-3">Tickets</h5>  
        <div class="row">           
            <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col">Issue</th>
                    <th scope="col">On</th>
                    <th scope="col">Active</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of student.tickets" [class.bg-light]="t.active">
                    <td>{{t.issue}}</td>
                    <td>{{t.createdOn | date }} </td>
                    <td>{{t.active}}</td>
                    <td> <button [disabled]="!t.active" class="btn btn-sm btn-secondary" (click)="closeTicket(t.id)">Close</button></td>
                  </tr>
                </tbody>
              </table>
              <span *ngIf="student.tickets.length===0">No tickets...</span>
        </div>

    </div>

    <div class="card-footer text-muted">
        <a class="card-link" [routerLink]="['/students']"><i class="fas fa-list mr-2"></i>Students</a>
        <a class="card-link" [routerLink]="" (click)="delete(student)"><i class="fas fa-trash mr-2"></i>Delete</a>
        <a class="card-link" [routerLink]="['/students', student.id, 'update']"><i class="fas fa-edit mr-2"></i>Edit</a>
    </div>

  </div> 

  